@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

.hydration-fix {
  display: none;
}

html.js .hydration-fix {
  display: block;
}